<ion-header [ngClass]="{cardradius: searchFlag}">
  <ion-toolbar>
    <ion-buttons slot="start" class="searchpaddingtop">
      <ion-button (tap)="goBack()">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar placeholder="Please enter" slot="start" [(ngModel)]="keyWords"></ion-searchbar>

    <ion-buttons slot="end" class="searchpaddingtop">
      <ion-button (click)="doSearch()" fill="clear">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar *ngIf="searchFlag" class="cardradius botrad">
    <div class="gar">
      <div *ngFor="let v of subHeaderList;let k = index" (click)="changeSubHeader(k)" [ngClass]="{'cactived': k == subHeaderChosedid}">{{ v.title }}</div>
      <!-- <div>店铺</div>
      <div>筛选<ion-icon name="funnel-outline"></ion-icon> </div> -->
    </div>

    <div class="gartag">
      <ul>
        <li>京东物流</li>
        <li>新品</li>
        <li>品牌<ion-icon name="chevron-down-outline"></ion-icon></li>
        <li>包装<ion-icon name="chevron-down-outline"></ion-icon></li>
        <li>口味<ion-icon name="chevron-down-outline"></ion-icon></li>
        <li>产地<ion-icon name="chevron-down-outline"></ion-icon></li>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="searchcard" *ngIf="!searchFlag">
    <div class="searchhistory">
      <div>
        <div class="searchcardtitle">
          Search history
          <ion-icon name="archive-sharp" slot="end" (click)="killAll()"></ion-icon>
        </div>
      </div>
      
      <ul class="history-list" *ngIf="historyList.length > 0">
        <li *ngFor="let v of historyList;let k = index">
          <ion-button shape="round" size="small" (click)="goSearch(v)" (press)="killOne(k)">
            {{ v }}
          </ion-button>
        </li>
      </ul>

      <div class="nosearchdata" *ngIf="historyList.length == 0">
        <img src="assets/img/no-data.png">
        <span>The owner has no search history yet</span>
      </div>

      <div class="clearfix"></div>
      <div class="dhr"></div>
    </div>

    <div class="searchfind">
      <div>
        <div class="searchcardtitle">
          Search found
        </div>

        <ul class="searchfindlist">
          <li>
            <span>吃鸡王座</span>
          </li>
          <li>
            <span>京东小魔方新品</span>
          </li>
          <li>
            <span>暖春行动</span>
          </li>
          <li>
            <span>砂糖桔</span>
          </li>
          <li>
            <span>海洋之风</span>
          </li>
          <li>
            <span>橙子</span>
          </li>
          <li>
            <span>无糖饼干</span>
          </li>
          <li>
            <span>常购清单</span>
          </li>
          <li>
            <span>努比亚</span>
          </li>
          <li>
            <span>机械键盘</span>
          </li>
        </ul>


        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div *ngIf="searchFlag && searchList.length > 0" #searchContent>
    <ion-list id="prolist">
      <ion-item *ngFor="let v of searchList">
        <ion-img slot="start" [src]="domain + v.s_pic"></ion-img>

        <ion-label>
          <p class="title">
            {{ v.title }}
          </p>
          <ion-badge color="primary" class="protag">英国</ion-badge>
          <div class="price">
            <span class="totals">￥</span><span class="dtotal">{{ v.price }}</span>
          </div>
          <div class="hottag">
            <ion-badge color="danger" class="hottag">自营</ion-badge>
          </div>
          <div class="shopmsg">
            10万+条评价 90%好评
          </div>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-infinite-scroll *ngIf="infiniteOpen" threshold="25%" position="bottom" (ionInfinite)="getSearchList($event)" >
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div class="searchnotfound" *ngIf="searchFlag && searchList.length == 0">
    <img src="assets/img/notFound.png">
    <span>什么都没找到啊</span>
  </div>

</ion-content>